src/META-INF/WebServicePunto.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="WebServicePunto">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/WSPunto/WebServicePunto?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="borrarCategoria">
<part name="parameters" element="tns:borrarCategoria"/>
</message>
<message name="borrarCategoriaResponse">
<part name="parameters" element="tns:borrarCategoriaResponse"/>
</message>
<message name="cargarArticulo">
<part name="parameters" element="tns:cargarArticulo"/>
</message>
<message name="cargarArticuloResponse">
<part name="parameters" element="tns:cargarArticuloResponse"/>
</message>
<message name="insertarArticulo">
<part name="parameters" element="tns:insertarArticulo"/>
</message>
<message name="insertarArticuloResponse">
<part name="parameters" element="tns:insertarArticuloResponse"/>
</message>
<message name="cargarCategoria">
<part name="parameters" element="tns:cargarCategoria"/>
</message>
<message name="cargarCategoriaResponse">
<part name="parameters" element="tns:cargarCategoriaResponse"/>
</message>
<message name="borrarArticulo">
<part name="parameters" element="tns:borrarArticulo"/>
</message>
<message name="borrarArticuloResponse">
<part name="parameters" element="tns:borrarArticuloResponse"/>
</message>
<message name="modificarCategoria">
<part name="parameters" element="tns:modificarCategoria"/>
</message>
<message name="modificarCategoriaResponse">
<part name="parameters" element="tns:modificarCategoriaResponse"/>
</message>
<message name="insertarCategoria">
<part name="parameters" element="tns:insertarCategoria"/>
</message>
<message name="insertarCategoriaResponse">
<part name="parameters" element="tns:insertarCategoriaResponse"/>
</message>
<message name="modificarArticulo">
<part name="parameters" element="tns:modificarArticulo"/>
</message>
<message name="modificarArticuloResponse">
<part name="parameters" element="tns:modificarArticuloResponse"/>
</message>
<portType name="WebServicePunto">
<operation name="hello">
<input wsam:Action="http://WS/WebServicePunto/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WS/WebServicePunto/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="borrarCategoria">
<input wsam:Action="http://WS/WebServicePunto/borrarCategoriaRequest" message="tns:borrarCategoria"/>
<output wsam:Action="http://WS/WebServicePunto/borrarCategoriaResponse" message="tns:borrarCategoriaResponse"/>
</operation>
<operation name="cargarArticulo">
<input wsam:Action="http://WS/WebServicePunto/cargarArticuloRequest" message="tns:cargarArticulo"/>
<output wsam:Action="http://WS/WebServicePunto/cargarArticuloResponse" message="tns:cargarArticuloResponse"/>
</operation>
<operation name="insertarArticulo">
<input wsam:Action="http://WS/WebServicePunto/insertarArticuloRequest" message="tns:insertarArticulo"/>
<output wsam:Action="http://WS/WebServicePunto/insertarArticuloResponse" message="tns:insertarArticuloResponse"/>
</operation>
<operation name="cargarCategoria">
<input wsam:Action="http://WS/WebServicePunto/cargarCategoriaRequest" message="tns:cargarCategoria"/>
<output wsam:Action="http://WS/WebServicePunto/cargarCategoriaResponse" message="tns:cargarCategoriaResponse"/>
</operation>
<operation name="borrarArticulo">
<input wsam:Action="http://WS/WebServicePunto/borrarArticuloRequest" message="tns:borrarArticulo"/>
<output wsam:Action="http://WS/WebServicePunto/borrarArticuloResponse" message="tns:borrarArticuloResponse"/>
</operation>
<operation name="modificarCategoria">
<input wsam:Action="http://WS/WebServicePunto/modificarCategoriaRequest" message="tns:modificarCategoria"/>
<output wsam:Action="http://WS/WebServicePunto/modificarCategoriaResponse" message="tns:modificarCategoriaResponse"/>
</operation>
<operation name="insertarCategoria">
<input wsam:Action="http://WS/WebServicePunto/insertarCategoriaRequest" message="tns:insertarCategoria"/>
<output wsam:Action="http://WS/WebServicePunto/insertarCategoriaResponse" message="tns:insertarCategoriaResponse"/>
</operation>
<operation name="modificarArticulo">
<input wsam:Action="http://WS/WebServicePunto/modificarArticuloRequest" message="tns:modificarArticulo"/>
<output wsam:Action="http://WS/WebServicePunto/modificarArticuloResponse" message="tns:modificarArticuloResponse"/>
</operation>
</portType>
<binding name="WebServicePuntoPortBinding" type="tns:WebServicePunto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="borrarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarArticulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarArticulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="borrarArticulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarArticulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServicePunto">
<port name="WebServicePuntoPort" binding="tns:WebServicePuntoPortBinding">
<soap:address location="http://localhost:8080/WSPunto/WebServicePunto"/>
</port>
</service>
</definitions>